html, body {
	height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
}

#map {
	height: 100%;
	width: 100%;
	position: relative;
}

#container {
	position: absolute;
	border-radius: 40px;
	background-color: rgba(226, 250, 250, .8);
	z-index: 1;
	left: 45px;
	top: 45px;
	overflow: hidden;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.heading {
	font-size: 1.6em;
	color: #318D8D;
	text-align: center;
	padding: 20px;
}

#filter {
	font-size: 1.4em;
	color: #318D8D;
	text-align: center;
	padding-top: 10px;
}

.places {
	text-align: left;
	width: 90%;
	padding: 10%;
}

.place{
	cursor: pointer;
	color: #318D8D;
	font-size: 1.1em;
	margin-bottom: -3px;
}

.place:hover {
	color: #7DCDCD;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

/*modified effect: underline courtesy of https://codepen.io/colloque/pen/bDgmx*/
.place:after {
	content: '';
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	color: #7DCDCD;
	border-bottom: 1px solid;
	margin-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.place:hover:after {
	color: #7DCDCD;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*end underline effect*/

#pano {
    width: 200px;
    height: 200px;
}

.hide {
	display: none;
}

.hide.show {
	display: block;
}


.infowindow {
	padding: 20px;
	font-size: 1.4em;
}

#menuIcon {
	cursor: pointer;
	fill: rgb(88, 88, 88);
	position: absolute;
	left: 19px;
	top: 19px;
	cursor: hand;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.rotate {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#wiki-container {
	position: absolute;
	border-radius: 40px;
	background-color: rgba(226, 250, 250, .8);
	z-index: 1;
	left: -500px;
	top: 600px;
	height: 100px;
	width: 350px;
	overflow: hidden;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}